<h1 class="page-header">Dashboard</h1>

<div class="row placeholders">
  <% @exercises.each do |exercise| %>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail" width=200 height=200>
    <h4><%= exercise.title %></h4>
    <span class="text-muted"><%= exercise.unique_name %></span>
  </div>
  <% end %>
</div>

<h2 class="sub-header">Submit history</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Exercise</th>
        <th>Result</th>
        <th>Date</th>
        <th>Try count</th>
      </tr>
    </thead>
    <tbody>
      <% @submits.each do |submit| %>
        <tr>
          <td><%= submit.id %></td>
          <td><%= link_to submit.exercise.title, submit.exercise %></td>
          <td><%= submit.result %></td>
          <td><%= submit.created_at %></td>
          <td><%= submit.try_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
