<div class="row placeholders text-center">
  <div class="col-md-4 col-md-offset-4">
    <%= link_to 'New Submit', new_submit_path, {:class => "btn btn-info btn-block", :type=>"button" } %>
  </div>
</div>


<h2 class="sub-header">Submit history</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Exercise</th>
        <th>Result</th>
        <th>Date</th>
        <th>Try count</th>
      </tr>
    </thead>
    <tbody>
      <% @submits.each do |submit| %>
        <tr>
          <td><%= link_to(submit.id, submit)%></td>
          <td><%= link_to submit.exercise.title, submit.exercise %></td>
          <td><%= submit.result %></td>
          <td><%= submit.created_at %></td>
          <td><%= submit.try_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

