<h1>New submit</h1>

<%= form_for(@submit) do |f| %>
  <% if @submit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submit.errors.count, "error") %> prohibited this submit from being saved:</h2>

      <ul>
      <% @submit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :exercise_id %><br>
    <%= f.collection_select :exercise_id, Exercise.all, :id, :title, include_blank: 'Please select submit exercise' %>
  </div>
  <div class="field">
    <%= f.label :file %><br>
    <%= f.file_field :file %>
  </div>
    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', submits_path %>
