<p>
  <strong>User:</strong>
  <%= @submit.user_id %>
</p>

<p>
  <strong>Exercise:</strong>
  <%= @submit.exercise_id %>
</p>

<p>
  <strong>Result:</strong>
  <%= @submit.result %>
</p>

<p>
  <strong>Try count:</strong>
  <%= @submit.try_count %>
</p>

<%= link_to 'Back', submits_path %>
